<div class="container-fluid">
    <div class="row">
        <div class="col-12 about">
            <h1 class="text-center">About</h1>
        </div>
    </div>
    <div class="row spoon">
        <img src="../../assets/images/title.png" alt="" class="img-fluid">
        <p class="text-center">It is a long established fact that a reader will be distracted by the readable content of
            a
            page when looking at it's layout. The point of using Lorem</p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="border-right">
                <div class="describe">
                    <h2 class="text-center">Best Food</h2>
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
                        classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a
                        Latin
                        professor at Hampden-Sydney College in Virginia, looked up one of the more obscureContrary to
                        popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical
                        Latin
                        literature from 45 BC, making it over 2000 years old.</p>
                    <a href="">Read More</a>
                </div>
            </div>
        </div>
        <div class="col-6">
            <img src="../../assets/images/about-img.jpg" alt="...///">
        </div>
    </div>
</div>
