<div class="sub-head">
    <div class="row ">
        <div class="col-4">
            <h3 class="text-primary px-3">All Leads</h3>
            <span class="px-3">from 20 september to 20 december 2021</span>
        </div>
        <div class="col-2">
        </div>
        <div class="col-6 text-end">
            <input type="text" class="bi bi-search" placeholder="search">
            <select name="All Leads" class="m-3 p-2">
                <option value="">All leads</option>
                <option value="">123</option>
                <option value="">abc</option>
                <option value="">xyz</option>
            </select>
            <i class="bi bi-filter m-2"></i>
            <i class="bi bi-share-fill m-2"></i>
            <button class="m-2 bg-success text-white"><i class="bi bi-plus-circle m-2"></i>Add
                new</button>
        </div>
    </div>
</div>
<div class="content">
    <div class="row mb-2">
        <div class="col-4">
            <h6 class="text-center">Company Details</h6>
        </div>
        <div class="col-1">
            <h6 class="text-start">Project tag</h6>
        </div>
        <div class="col-2">
            <h6 class="text-start">Contact person</h6>
        </div>
        <div class="col-1">
            <h6 class="text-center">Status</h6>
        </div>
        <div class="col-2">
            <h6 class="text-start">Follow-up date</h6>
        </div>
        <div class="col-2">
            <h6 class="text-start">Actions</h6>
        </div>
    </div>
</div>
<div class="content1">
    <div class="row line">
        <div class="col-4 text-start text-inline">
            <div class="d-flex">
                <div class="m-1">
                    <img src="../../assets/images/profile1.jpg" alt="" width="50px">
                </div>
                <div>
                    <h5>Try Jobs Private Limited</h5>
                    <span>location coimbatore, tamilnadu created 20 dec 2021</span>
                </div>
            </div>
        </div>
        <div class="col-1">
            <h5>CRM</h5>
        </div>
        <div class="col-2">
            <h5>Ram Charan</h5>
            <span>contact 9800465478</span>
        </div>
        <div class="col-1">
            <span class="dot bg-primary mt-1"></span>
            <span class="status">New</span>
            <p>Status Key Word</p>
        </div>
        <div class="col-2">
            <h5 class="text-start">20 Jan 2022</h5>
            <span>4 days left</span>
        </div>
        <div class="col-2">
            <i class="bi bi-telephone-plus-fill"></i>
            <i class="bi bi-receipt"></i>
            <i class="bi bi-three-dots-vertical"></i>
        </div>
    </div>
    <div class="row line">
        <div class="col-4 d-flex">
            <div class="m-1">
                <img src="../../assets/images/profile2.jpeg" alt="" class="img-fluid">
            </div>
            <div>
                <h5>Aagnia technology Private Limited</h5>
                <span>location coimbatore, tamilnadu created 20 dec 2021</span>
            </div>
        </div>
        <div class="col-1">
            <h5>Ecommerce</h5>
        </div>
        <div class="col-2">
            <h5>Karthikeyan</h5>
            <span>contact 9800465478</span>
        </div>
        <div class="col-1">
            <span class="dot bg-danger mt-1"></span>
            <span class="status">Hot</span>
            <p>Status Key Word</p>
        </div>
        <div class="col-2">
            <h5>25 Jan 2022</h5>
            <span>4 days left</span>
        </div>
        <div class="col-2">
            <i class="bi bi-telephone-plus-fill"></i>
            <i class="bi bi-receipt"></i>
            <i class="bi bi-three-dots-vertical"></i>
        </div>
    </div>
    <div class="row line">
        <div class="col-4 d-flex">
            <div class="m-1">
                <img src="../../assets/images/profile1.jpg" alt="...loading" class="img-fluid">
            </div>
            <div>
                <h5>Try Jobs Private Limited</h5>
                <span>location coimbatore, tamilnadu created 20 dec 2021</span>
            </div>
        </div>
        <div class="col-1">
            <h5>CRM</h5>
        </div>
        <div class="col-2">
            <h5>Ram Charan</h5>
            <span>contact 9800465478</span>
        </div>
        <div class="col-1">
            <span class="dot bg-secondary mt-1"></span>
            <span class="status">Lost</span>
            <p>Status Key Word</p>
        </div>
        <div class="col-2">
            <h5>20 Jan 2022</h5>
            <span>4 days left</span>
        </div>
        <div class="col-2">
            <i class="bi bi-telephone-plus-fill"></i>
            <i class="bi bi-receipt"></i>
            <i class="bi bi-three-dots-vertical"></i>
        </div>
    </div>
    <div class="row line">
        <div class="col-4 d-flex">
            <div class="col-2">
                <img src="../../assets/images/profile2.jpeg" alt="" class="img-fluid">
            </div>
            <div>
                <h5>Aagnia technology Private Limited</h5>
                <span>location coimbatore, tamilnadu created 20 dec 2021</span>
            </div>
        </div>
        <div class="col-1">
            <h5>Ecommerce</h5>
        </div>
        <div class="col-2">
            <h5>Karthikeyan</h5>
            <span>contact 9800465478</span>
        </div>
        <div class="col-1">
            <span class="dot bg-success mt-1"></span>
            <span class="status">won</span>
            <p>Status Key Word</p>
        </div>
        <div class="col-2">
            <h5>25 Jan 2022</h5>
            <span>4 days left</span>
        </div>
        <div class="col-2">
            <i class="bi bi-telephone-plus-fill"></i>
            <i class="bi bi-receipt"></i>
            <i class="bi bi-three-dots-vertical"></i>
        </div>
    </div>
    <div class="row line">
        <div class="col-4 d-flex">
            <div class="col-2">
                <img src="../../assets/images/profile1.jpg" alt="" class="img-fluid">
            </div>
            <div>
                <h5>Try Jobs Private Limited</h5>
                <span>location coimbatore, tamilnadu created 20 dec 2021</span>
            </div>
        </div>
        <div class="col-1">
            <h5>CRM</h5>
        </div>
        <div class="col-2">
            <h5>Ram Charan</h5>
            <span>contact 9800465478</span>
        </div>
        <div class="col-1">
            <span class="dot bg-primary mt-1"></span>
            <span class="status">New</span>
            <p>Status Key Word</p>
        </div>
        <div class="col-2">
            <h5>20 Jan 2022</h5>
            <span>4 days left</span>
        </div>
        <div class="col-2">
            <i class="bi bi-telephone-plus-fill"></i>
            <i class="bi bi-receipt"></i>
            <i class="bi bi-three-dots-vertical"></i>
        </div>
    </div>
    <div class="row line">
        <div class="col-4 d-flex">
            <div class="m-1">
                <img src="../../assets/images/profile2.jpeg" alt="" class="img-fluid">
            </div>
            <div>
                <h5>Aagnia technology Private Limited</h5>
                <span>location coimbatore, tamilnadu created 20 dec 2021</span>
            </div>
        </div>
        <div class="col-1">
            <h5>Ecommerce</h5>
        </div>
        <div class="col-2">
            <h5>Karthikeyan</h5>
            <span>contact 9800465478</span>
        </div>
        <div class="col-1">
            <span class="dot bg-danger mt-1"></span>
            <span class="status">Hot</span>
            <p>Status Key Word</p>
        </div>
        <div class="col-2">
            <h5>25 Jan 2022</h5>
            <span>4 days left</span>
        </div>
        <div class="col-2">
            <i class="bi bi-telephone-plus-fill"></i>
            <i class="bi bi-receipt"></i>
            <i class="bi bi-three-dots-vertical"></i>
        </div>

    </div>
    <div class="row line">
        <div class="col-4 d-flex">
            <div class="m-1">
                <img src="../../assets/images/profile1.jpg" alt="" class="img-fluid">
            </div>
            <div>
                <h5 class="text-start">Try Jobs Private Limited</h5>
                <span>location coimbatore, tamilnadu created 20 dec 2021</span>
            </div>
        </div>
        <div class="col-1">
            <h5>CRM</h5>
        </div>
        <div class="col-2">
            <h5>Ram Charan</h5>
            <span>contact 9800465478</span>
        </div>
        <div class="col-1">
            <span class="dot bg-secondary mt-1"></span>
            <span class="status">Lost</span>
            <p>Status Key Word</p>
        </div>
        <div class="col-2">
            <h5>20 Jan 2022</h5>
            <span>4 days left</span>
        </div>
        <div class="col-2">
            <i class="bi bi-telephone-plus-fill"></i>
            <i class="bi bi-receipt"></i>
            <i class="bi bi-three-dots-vertical"></i>
        </div>
    </div>
    <div class="row line">
        <div class="col-4 d-flex">
            <div class="m-1">
                <img src="../../assets/images/profile2.jpeg" alt="" class="img-fluid">
            </div>
            <div>
                <h5 class="text-start">Aagnia technology Private Limited</h5>
                <span>location coimbatore, tamilnadu created 20 dec 2021</span>
            </div>
        </div>
        <div class="col-1">
            <h5>Ecommerce</h5>
        </div>
        <div class="col-2">
            <h5>Karthikeyan</h5>
            <span>contact 9800465478</span>
        </div>
        <div class="col-1">
            <span class="dot bg-success mt-1"></span>
            <span class="text-start status">Won</span>
            <p>Status Key Word</p>
        </div>
        <div class="col-2">
            <h5>25 Jan 2022</h5>
            <span>4 days left</span>
        </div>
        <div class="col-2">
            <i class="bi bi-telephone-plus-fill"></i>
            <i class="bi bi-receipt"></i>
            <i class="bi bi-three-dots-vertical"></i>
        </div>
    </div>
    <div class="butt text-center">
        <button>Load More</button>
    </div>
</div>
<div class="back">
</div>
